.menu-bg {
  background: #122ab2;
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Style inputs */
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

.column {
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}

.menu {
  font-family: Lato;
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu a {
  color: white;
}

.menu-logo a {
  font-family: Lato;
  font-size: 2em;
  margin: 0 10px;
}

.menu-nav ul {
  display: flex;
  flex-wrap: wrap;
}

.menu-nav a {
  font-size: 1.5em;
  font-family: Lobster;
  margin: auto;
  display: block;
  padding: 10px;
}

.carousel {
  max-width: 2000px;
  margin-top: 46px;
}

.about {
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

ul {
  list-style: none;
}
.menu-nav a:hover {
  text-decoration: underline;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #f0f0f5;
}

.mySlides {
  display: none;
}

a {
  cursor: pointer;
}
